<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>로그인 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <style>
        .btn-warning {
            color: white;
        }
    </style>

    <script>
        function toggleForm(){
            const loginForm = document.getElementById(`login-form`);
            const signupForm = document.getElementById(`signup-form`);

            if(loginForm.style.display !== 'none'){
                loginForm.style.display = 'none';
                signupForm.style.display = 'block';
            }
            else{
                loginForm.style.display = 'block';
                signupForm.style.display = 'none';
            }
        }

        function tryLogin() {
            let id = $(`#login-id`).val();
            let pw = $(`#login-pw`).val();

            if (id == ''){
                alert("아이디를 입력해주세요!");
            }
            else if (pw == ''){
                alert("비밀번호를 입력해주세요!")
            }
            else{
                $.ajax({
                    type: "POST",
                    url: "/api/login",
                    data: { id: id, pw: pw},
                    success: function(response){
                        alert("로그인 성공!")
                        // Header들고 다음페이지로 이동해서 앞으로는 새로고침을 해도 로그인페이지가 아니라 로그인이 되어있는 메인페이지가 나와야 돼요.
                    }
                })
            }

        }

        function signup(){
            const signId = document.getElementById(`sign-id`);
            const signPw = document.getElementById(`sign-pw`);
            const signName = document.getElementById(`sign-name`);
            const signTeam = document.getElementById(`sign-team`);

            let id = signId.value;
            let pw = signPw.value;
            let name = signName.value;
            let team = signTeam.value;

            if (id == ''){
                alert("아이디를 입력해주세요!");
                signId.ariaInvalid = "true";
            }
            else if (pw == ''){
                alert("비밀번호를 입력해주세요!");
                signPw.ariaInvalid = "true";
            }
            else if (name == ''){
                alert("이름을 입력해주세요!");
                signName.ariaInvalid = "true";
            }
            else if (team == ''){
                alert("조를 선택해주세요!");
                signTeam.ariaInvalid = "true";
            }
            else{
                $.ajax({
                    type: "GET",
                    url: "/api/check",
                    data: { id: id},
                    success: function(response){
                        if (response["result"] == "success") {
                            alert("중복된 아이디가 있습니다!");
                            signId.ariaInvalid = "true";
                        } else {
                            $.ajax({
                                type: "POST",
                                url: "/api/signup",
                                data: { id: id, pw: pw, name: name, team: team},
                                success: function(response){
                                    alert("회원가입 성공!");
                                    document.reload();
                                }
                            })
                        }
                    }
                })
            }
        }
    </script>
</head>

<body>
<div class="container" style="width: 600px; border: 2px solid black; border-radius: 20px; padding: 20px; margin-top: 20px">
    <h2 style="text-align: center">정글러 동선</h2>
    <!-- 로그인 -->
    <form id="login-form" style="display: block">
        <label>
            ID:
            <input id="login-id" type="text" placeholder="아이디">
        </label>
        <label>
            PW:
            <input id="login-pw" type="password" placeholder="비밀번호">
        </label>

        <div class="grid">
            <button type="button" onclick="tryLogin()">로그인</button>
            <button type="button" class="secondary" onclick="toggleForm()">회원가입</button>
        </div>

        <label>
            <input  type="checkbox" id="english"/>
            아이디 기억하기
        </label>
    </form>

    <!-- 회원가입 -->
    <form id="signup-form" style="display: none">
        <label>
            ID:
            <input id="sign-id" type="text" placeholder="아이디">
        </label>
        <label>
            PW:
            <input id="sign-pw" type="text" placeholder="비밀번호">
        </label>
        <label>
            이름:
            <input id="sign-name" type="text" placeholder="이름">
        </label>
        <label>
            조:
            <select id="sign-team">
                <option selected disabled value="">
                    정글러의 조를 고르세요
                </option>
                <option>1조</option>
                <option>2조</option>
                <option>3조</option>
                <option>4조</option>
                <option>5조</option>
                <option>6조</option>
                <option>7조</option>
                <option>8조</option>
                <option>9조</option>
                <option>10조</option>
                <option>11조</option>
                <option>12조</option>
            </select>
        </label>

        <div class="grid">
            <button type="button" class="contrast" onclick="toggleForm()">뒤로가기</button>
            <button type="button" class="secondary" onclick="signup()">가입하기</button>
        </div>
    </form>
</div>
</body>
</html>