<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>

    <!-- Pico -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

    <title>정글러 동선</title>

    <!-- style -->
    <style type="text/css">
    </style>
</head>

<body>
    <main class="container">
        <div>
            <div>
                <p>안태리</p>
                <p>팀</p>
                <select aria-label="6팀" required>
                    <option>1팀</option>
                    <option>2팀</option>
                    <option>3팀</option>
                    <option>4팀</option>
                    <option>5팀</option>
                    <option selected>6팀</option>
                    <option>7팀</option>
                    <option>8팀</option>
                    <option>9팀</option>
                    <option>10팀</option>
                    <option>11팀</option>
                    <option>12팀</option>
                </select>
                <p>장소</p>
                <select aria-label="비공개" required>
                    <option>기숙사</option>
                    <option>식당</option>
                    <option>407 강의동</option>
                    <option>401 강의동</option>
                    <option>체력단련실</option>
                    <option>교외</option>
                    <option selected>비공개</option>
                </select>
            </div>
            <div>
                <div class="grid">
                    <div>이름</div>
                    <div>장소</div>
                    <div>팀</div>
                </div>
                <!-- <div id="place_category">
                    <button>기숙사</button>
                    <button>식당</button>
                    <button>407 강의동</button>
                    <button>401 강의동</button>
                    <button>체력단련실</button>
                    <button>교외</button>
                    <button selected>비공개</button>
                </div>
                <div id="team_category">
                    <button>1팀</button>
                    <button>2팀</button>
                    <button>3팀</button>
                    <button>4팀</button>
                    <button>5팀</button>
                    <button selected>6팀</button>
                    <button>7팀</button>
                    <button>8팀</button>
                    <button>9팀</button>
                    <button>10팀</button>
                    <button>11팀</button>
                    <button>12팀</button>
                </div> -->
                <div>
                    <div role="search">
                        <input name="search" type="search" placeholder="Search" />
                        <input type="submit" value="Search" />
                    </div>
                </div>
            </div>
        </div>
        <div class="grid">
            <div>
                <p>정재혁</p>
                <p>6팀</p>
                <p>407 강의동</p>
            </div>
            <div>
                <p>정재혁</p>
                <p>6팀</p>
                <p>407 강의동</p>
            </div>
            <div>
                <p>정재혁</p>
                <p>6팀</p>
                <p>407 강의동</p>
            </div>
        </div>
</body>

</html>